---
BasedOnStyle: Google
Language:        Cpp
ColumnLimit: 100
UseTab: Never
IndentWidth: 2
AccessModifierOffset: -2
NamespaceIndentation: None

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  SplitEmptyFunction: false
  #AfterControlStatement: true
  AfterFunction: true
  AfterUnion: true
  BeforeElse: false


AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: true
#AllowAllConstructorInitializersOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignTrailingComments: true

SpaceAfterCStyleCast: true
CommentPragmas: '^ NO-FORMAT:'

# each function parameter per line
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false

SpaceAfterTemplateKeyword: true
---
Language: Proto
ColumnLimit: 100
